<div (window:resize)="onResize($event)"></div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-md-auto gap-2">
        <li class="nav-item rounded">
          <button class="btn btn-primary" type="button" (click)="authService.SignOut()"><i class="fa fa-google mr-2"></i>Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

 <div class="container-fluid">
	<div class="row p-3">
		<div class="col-12" style="box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
			<div class="row p-2">
				<div class="col-lg-6 col-md-12 col-sm-12 d-md-block d-lg-flex align-items-center justify-content-between">
					<div class="form-group w-25">
						<label for="drawing-mode-selector">Mode</label>
						<select class="form-control" id="drawing-mode-selector">
							<option>Pencil</option>
							<option>Circle</option>
							<option>Spray</option>
							<option>Pattern</option>
							<option>hline</option>
							<option>vline</option>
							<option>square</option>
							<option>diamond</option>
							<option>texture</option>
						</select>
					</div>
					<div>
						<label class="w-100 label-responsive" for="drawing-line-width">Line width:</label>
						<input type="range" value="30" min="0" max="150" id="drawing-line-width"><br>
					</div>
					<div>
						<label class="w-100 label-responsive" for="drawing-color">Line color:</label>
						<input type="color" id="drawing-color"><br>
					</div>
					<div>
						<label class="w-100 label-responsive" for="drawing-shadow-width">Line shadow width:</label>
						<input type="range" value="0" min="0" max="50" id="drawing-shadow-width"><br>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 d-md-block d-lg-flex align-items-center justify-content-end">
					<div style="margin-right:10px">
						<input class="form-control" type="file" id="imgLoader"> 	
					</div>
					<div class="form-check form-switch" style="margin-right:10px">
					  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
					  <label class="form-check-label" for="flexSwitchCheckDefault">Update Images</label>
					</div>
					<div>
						<button class="btn btn-md btn-outline-primary" [disabled]="!canvasData || !canvasData.id || viewingSharedCanvasId" (click)="openShareWithModal(shareModal)">Share <i class="fa fa-user"></i></button>	
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-9 col-sm-12">
			<div class="fabric-canvas-wrapper">
				<canvas style="border: 1px solid grey; margin-left:20px;" id="fabric-canvas"></canvas>
			</div>
		</div>
		<div class="col-lg-3 col-md-12 col-sm-12">
			<div class="card">
				<div class="card-header text-bold">
					Shared With Me
				</div>
				<div class="card-body">
					<div class="list-group" id="list-tab" role="tablist">
						<div class="list-group-item list-group-item-action" [ngClass]="(!viewingSharedCanvasId || !viewingSharedCanvasId.length) ? 'active' : ''" (click)="showMyCanvas()">Show My Canvas</div>
						<div class="list-group-item list-group-item-action" [ngClass]="viewingSharedCanvasId === canvas.canvasId ? 'active' : ''" *ngFor="let canvas of sharedCanvases" id="list-home-list" data-toggle="list" role="tab" aria-controls="home" (click)="renderSharedCanvas(canvas.canvasId)">{{canvas.canvasId}}</div>
						<ng-container *ngIf="!sharedCanvases || !sharedCanvases.length">
							<p class="text-center mt-3">No Canvas Found</p>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<ng-template #shareModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Share Canvas</h4>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group">
				<label for="email" class="mb-1">Email</label>
				<input id="email" class="form-control" placeholder="Enter email" [(ngModel)]="shareWithEmail" name="email" #email="ngModel" email>
				<div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
					<div *ngIf="email.errors?.email">
						Email must be a valid format
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Save click')">Cancel</button>
		<button [disabled]="!shareWithEmail || !shareWithEmail.length || email.errors || email.errors?.email" type="button" class="btn btn-outline-dark" (click)="shareCanvas()">Save</button>
	</div>
</ng-template>
  
